<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
  </head>
  <body>
    <form action="http://127.0.0.1:5000/login" method="post">
      <p><input type="text" name="username" placeholder="Введите ник" /></p>
      <p>
        <input type="password" name="password" placeholder="Введите пароль" />
      </p>
      <p>
        <input type="text" name="phone" placeholder="Введите номер телефона" />
      </p>
      <input type="submit" value="Войти" />

      <!-- <h2>hello, {{name}} {{age}} yo {{gender}}</h2> -->
    </form>
    <button type="button" onclick="sayHello()">Say Hello</button>
    <img src="{{url_for('static', filename='img/img.jpg')}}" alt="" />
  </body>
</html>
